<div class="container-fluid">
    <div class="row">
        <h2>Services Offered</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=16t6c4QhAWkP7IZ83uw4KV6n5SGQSgdcE"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content >
                  <p>
                    <strong>Income Tax</strong>
                  </p>
                  <p>Tax Planning and Preparation</p>
                  <p>Income Tax and other forms filing</p>
                  <p>Response to Notices and Representation support</p>
                  <p>12A & 80G Registration</p>
                  <p>TDS & TCS returns </p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=1Cl1ZowV_30DPVm7CrRgkx1XfTNLg3Gjb"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>GST</strong>
                  </p>
                  <p>Registration</p>
                  <p>Monthly, quarterly and Annual returns</p>
                  <p>Refunds</p>
                  <p>12A & 80G Registration</p>
                  <p>Response to Notices and Representation support</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=1pfR4HVLFWiLBDb2xAiztPFcB_QUG0Owh"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>Companies, LLP and Firms</strong>
                  </p>
                  <p>Company and LLP Incorporation</p>
                  <p>Partnership deed drafting and registration</p>
                  <p>ROC Filing compliances</p>
                  <p> </p>
                  <p> </p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=1PYHNT_SCpOSRYCGZ8tYgA33myMKpFZ1O"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>Accounting & Finance</strong>
                  </p>
                  <p>TAccounts Maintenance</p>
                  <p>Funds Management</p>
                  <p>Payroll Management</p>
                  <p>Accounts Reconciliation and Analysis</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=1YiFoFy-WnoNWd29U1VXKGLZKxepqAOyT"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>Business setup and Development </strong>
                  </p>
                  <p>Start-up advice</p>
                  <p>Registration and other legal compliances</p>
                  <p>Framing customized policies and procedures</p>
                  <p>Developing Internal controls</p>
                  <p>Internal Audit</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="https://drive.google.com/uc?export=view&id=1xaC5BNWBPeZCh9mKOL2WMs2_KISJw0S7"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>Other Services</strong>
                  </p>
                  <p>PAN & TAN</p>
                  <p>Labour Registration</p>
                  <p>Professional Tax Registration and Returns</p>
                  <p>EPF & ESI Registration and Returns</p>
                  <p>FSSAI Registration</p>
                  <p>Labour department Compliances</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button></button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>