<div class="container-fluid" style="margin-top: 2rem;">
    <div class="row" style="margin-bottom: 2rem;">
        <h2>Services Offered</h2>
    </div>
    <div class="row" style="margin-bottom: 2rem;">
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/incometax.jpg"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content >
                  <p>
                    <strong>Income Tax</strong>
                  </p>
                  <p>Tax Planning and Preparation</p>
                  <p>Income Tax and other forms filing</p>
                  <p>Response to Notices and Representation support</p>
                  <p>12A & 80G Registration</p>
                  <p>TDS & TCS returns </p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/gst.jpeg"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content>
                  <p>
                    <strong>GST</strong>
                  </p>
                  <p>Registration</p>
                  <p>Monthly, quarterly and Annual returns</p>
                  <p>Refunds</p>
                  <p>12A & 80G Registration</p>
                  <p>Response to Notices and Representation support</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/llp.jpg"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content style="height: 14rem;">
                  <p>
                    <strong>Companies, LLP and Firms</strong>
                  </p>
                  <p>Company and LLP Incorporation</p>
                  <p>Partnership deed drafting and registration</p>
                  <p>ROC Filing compliances</p>
                  <p> </p>
                  <p> </p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/accountingnfinance.webp"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content style="height: 16rem;">
                  <p>
                    <strong>Accounting & Finance</strong>
                  </p>
                  <p>TAccounts Maintenance</p>
                  <p>Funds Management</p>
                  <p>Payroll Management</p>
                  <p>Accounts Reconciliation and Analysis</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/businesssetup.jpg"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content style="height: 16rem;">
                  <p>
                    <strong>Business setup and Development </strong>
                  </p>
                  <p>Start-up advice</p>
                  <p>Registration and other legal compliances</p>
                  <p>Framing customized policies and procedures</p>
                  <p>Developing Internal controls</p>
                  <p>Internal Audit</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img
                  mat-card-image
                  src="../../assets/otherservices.jpeg"
                  alt="Photo of a Shiba Inu"
                />
              
                <mat-card-content style="height: 16rem;">
                  <p>
                    <strong>Other Services</strong>
                  </p>
                  <p>PAN & TAN</p>
                  <p>Labour Registration</p>
                  <p>Professional Tax Registration and Returns</p>
                  <p>EPF & ESI Registration and Returns</p>
                  <p>FSSAI Registration</p>
                  <p>Labour department Compliances</p>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button>Read More</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>