<mat-toolbar>
    <div class="header">
        <button class="sidemenu" mat-button (click)="opened= !opened"><mat-icon>menu</mat-icon></button>
        <span>Frank Associates</span>
    </div>
    <div class="spacer"></div>
    <div class="menu">
        <a mat-button style="text-decoration: none;" routerLink="home">Home</a>
        <a mat-button style="text-decoration: none;" routerLink="services">Services Offered</a>
        <a mat-button style="text-decoration: none;">News and Articles</a>
        <a mat-button style="text-decoration: none;" routerLink="contactus">Contact Us</a>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" style="background-color: #88bdbc;">
        <mat-list>
            <mat-list-item><a mat-button routerLink="home" style="text-decoration: none;">Home</a></mat-list-item>
            <mat-list-item><a mat-button>Services Offered</a></mat-list-item>
            <mat-list-item><a mat-button>Tax Updates</a></mat-list-item>
            <mat-list-item><a mat-button>News and Articles</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="contactus">Contact Us</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet style="height: 100%;"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
