
<div class="container-fluid rowmatcard">
    <div class="row justify-content-center" style="text-align: center; padding-top: 20px;">
        <h1>Contact Us:</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-4 matcard">
            <mat-card >
                <mat-card-content >
                    <h1>Dilip</h1>
                    <p>Email :frankassociates17@gmail.com</p>
                    <p>Phone : +91 90590 00893</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-4 matcard">
            <mat-card>
                <mat-card-content>
                    <h1>Rajasekar</h1>
                    <p>Email : frankassociates17@gmail.com</p>
                    <p>phone : +91 97002 54277</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-4 matcard">
            <mat-card>
                <mat-card-content>
                    <h1>B Rohith Kumar</h1>
                    <p>Email : frankassociates17@gmail.com</p>
                    <p>phone : +91 97002 54277</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row brands">
            <div class="col-lg-3"><h2 class="followus">Follow us</h2></div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="https://twitter.com/FrankforTax" target="_blank"><fa-icon [icon]="fatwitter" size="6x"></fa-icon></a>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="https://www.facebook.com/FrankforTax" target="_blank"><fa-icon [icon]="fafacebook" size="6x"></fa-icon></a>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row address">
        <div class="col-lg-6" >
            <h2>Bengaluru Office</h2>
            <p>Flat No. 102, SS Residency, Narayanapura, Bengaluru</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.6083918884733!2d77.63180677540294!3d13.060580687263013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae19461d962b29%3A0x5e414e684b6e08ed!2sSS%20Residency!5e0!3m2!1sen!2sau!4v1692082464732!5m2!1sen!2sau" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6">
            <h2>Tirupati Office</h2>
            <p>#6-1-128, 1st Floor, ARD Complex, Beside HDFC Bank, K.T.Road, Tirupati</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.2165057518982!2d79.41623107541243!3d13.644589986736152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4b5aed6e4cc5%3A0xa62a5a8fdbfc0b10!2sA%20R%20D%20complex!5e0!3m2!1sen!2sau!4v1692082381784!5m2!1sen!2sau" style="border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

