.ourapproachbd{
    font-family: cursive;
    font-stretch: expanded;
    line-height: 1.7rem;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

.ourappmain{
    padding-left: 25vw; 
    padding-right: 25vw;
    height: fit-content;
    padding-top: 2vh;
}

.aboutusbd{
    line-height: 1.7rem;
    font-family: fantasy;
    font-size: 1.2rem;
}

.aboutuscolone{
    text-align: center;
    background-color: black;
    height: 75vh;
    padding-top: 20vh;
}

.aboutuscoltwo{
    text-align: center;
    padding-top: 20vh;
}

@media screen and (max-width: 800px){
    .ourappmain{
        padding-left: 0%;
        padding-right: 0%;
    }

    .aboutuscolone{
        height: 40vh;
        padding: 3vh;
    }

    .aboutusbd{
        font-size: smaller;
        line-height: normal;
    }

    .aboutuscoltwo{
        padding-top: 3vh;
    }

    .ourapproachbd{
        font-size: smaller;
        line-height: normal;
        text-align: justify;
    }
}

