<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" style="background-color: black;">
        <div class="row row">
            <div class="col-lg-6 aboutuscolone">
                <h1 style="margin-top: 3rem; color: #F4EBD7; text-align: center;">Tax Solutions Tailored to Your Needs - </h1>
                <h1 style="color: #F4EBD7;">With Frank Associates</h1>
            </div>
            <div class="col-lg-6 aboutuscoltwo">
                <h2>About Us</h2>
                <p class="aboutusbd">Frank Associates is a tax consultancy firm that offers personalized and tailored services to individuals and businesses alike. We strive to provide our clients with the best and most comprehensive solutions to their tax and finance-related issues, all while meeting their needs and expectations.

                    We are committed to delivering high quality services, and are proud to have a team of experienced and knowledgeable tax consultants who are dedicated to finding the best solutions for our clients. With us, you can rest assured that your finances are in the right hands.
            </div>
        </div>
        <div class="row-sm-6 ourappmain">
            <div>
                <h2>Our Approach</h2>
            </div>
            <div>
                <p class="ourapproachbd">We have a team comprising of Tax Consultants and Accountants who have a rich experience in providing various services relating to Accounting, Income Tax, GST, ROC Filings (Companies & LLP’s) Labor Law compliances & Other Business registrations etc.
                    Our primary objective is to help the businessmen to comply with the applicable laws and play a pivotal role in their development which ultimately results in the growth of our nation.
                    Our team of experienced professionals is dedicated to providing our clients with the best service possible, offering tailored advice that meets their individual needs and goals. We are passionate about our work and strive to ensure that our clients receive the most accurate and up-to-date information regarding taxation.
                    We help our clients not just in complying with the laws and rules but also help them in implementing the best business practices by working with them throughout the year and communicating various issues, ideas for betterment and the deficiencies which needs to be properly addressed to fulfil the objectives of business. We help the organization to create an environment where the transactions will be routed systematically, which will help the owners to focus on various other issues and work on some brilliant ideas! 
                    We pride ourselves on being a versatile and ethical Tax Advisor. Whether you need assistance with bookkeeping, tax preparation or any other accounting-related matter, we would love to help. Reach out to our team today to start the conversation.</p>
            </div>
        </div>
        <div id="services">
            <app-servicesprovided></app-servicesprovided>
        </div>
        <div>
            <app-contactus></app-contactus>
        </div>
    </div>
</body>
</html>
